.destinations {
  background: $destination-mobile center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  @media(min-width: $tablet) {
    background-image: $destination-tablet;
  }

  @media(min-width: $desktop) {
    background-image: $destination-desktop;
  }

  .header__nav {
    @supports (not (backdrop-filter: blur(81.5px))) {
      background-image: $destination-mobile;

      @media(min-width: $tablet) {
        background-image: $destination-tablet;
      }
    
      @media(min-width: $desktop) {
        background-image: $destination-desktop;
      }
    }
  }
}

.destinations {
  &__container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    
    @media(min-width: $desktop) {
      @include flex($align: flex-end);

      column-gap: 48px;
    }

    &__img {
      width: 100%;
      text-align: center;

      @media(min-width: $desktop) {
        max-width: calc(100% - 445px);
      }

      img {
        width: 170px;
        height: 170px;
        border: 0;

        @media(min-width: $tablet) {
          width: 300px;
          height: 300px;
        }
    
        @media(min-width: $desktop) {
          width: 445px;
          height: 445px;
        }
      }
    }

    &__text {
      text-align: center;
      max-width: 573px;
      margin: 26px auto 0;

      @media(min-width: $tablet) {
        margin-top: 53px;
      }

      @media(min-width: $desktop) {
        text-align: left;
        margin-top: 0;
        max-width: 445px;
      }
    }

    &__nav {
      @include flex($justify: center);

      list-style: none;
      padding: 0;
      margin: 0 0 20px;

      @media(min-width: $tablet) {
        margin-bottom: 32px;
      }
  
      @media(min-width: $desktop) {
        justify-content: flex-start;
        margin-bottom: 37px;
      }

      li {
        display: inline-block;
        padding: 0 0 8px;
        border-bottom: 3px solid transparent;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        color: white;
        letter-spacing: 2.7px;
        white-space: nowrap;
        text-transform: uppercase;
        transition: border 0.3s ease;
        cursor: pointer;

        @media (min-width: $tablet) {
          display: inline-block;
          vertical-align: top;
          padding-bottom: 12px;
        }

        + li {
          margin-left: 26px;

          @media (min-width: $tablet) {
            margin-left: 35px;
          }
        }

        &:hover,
        &:focus {
          border-color: rgba(white, 0.5);
        }

        &.active {
          border-color: white;
        }
      }
    }

    &__meta {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid $color-border;

      @media (min-width: $tablet) {
        @include flex($justify: space-around);

        margin-top: 50px;
        padding-top: 28px;
      }

      @media (min-width: $desktop) {
        justify-content: space-between;
        margin-top: 54px;
      }

      &__item {
        text-align: center;

        @media (min-width: $desktop) {
          width: 45%;
          text-align: left;
        }

        & + & {
          margin-top: 32px;

          @media (min-width: $tablet) {
            margin-top: 0;
          }
        }

        span {
          display: block;

          + span {
            margin-top: 12px;
          }
        }
      }
    }
  }

  .section__title {
    margin-bottom: 32px;

    @media(min-width: $tablet) {
       margin-bottom: 60px;
    }

    @media(min-width: $desktop) {
      margin-bottom: 64px;
    }

    span {
      margin-right: 18px;

      @media(min-width: $desktop) {
        margin-right: 28px;
      }
    }
  }
}