.header {
  @include flex();

  position: relative;
  padding: 24px;

  @media(min-width: $tablet) {
    padding: 0 0 0 40px; 
  }

  @media(min-width: $desktop) {
    padding: 40px 0 0 55px;

    @include pseudoElement(before, null, 1px) {
      @include position(absolute, 40px 60% 0 167px);

      background-color: rgba(white, 0.25);
      margin: auto;
      z-index: 2;
    }
  }

  &__logo {
    img {
      vertical-align: top;
    }
  }

  &__toggle {
    position: relative;
    width: 24px;
    height: 36px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: 2;

    @media(min-width: $tablet) {
      display: none;
    }

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-light-blue;
      border-radius: 3px;
      transition: transform 0.5s ease, background-color 0.5s ease;
      will-change: transform;

      &:first-child {
        transform: translateY(-6px);
      }

      &:nth-of-type(2) {
        transition: opacity 0.5s ease;
      }

      &:last-child {
        transform: translateY(6px);
      }
    }

    &.open {
      span {
        background-color: $color-light-blue;

        &:first-child {
          transform: rotate(45deg) translateY(4px);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg) translateY(-4px);
        }
      }
    }
  }

  &__nav {
    @include position(fixed, 0 -254px 0 null);

    counter-reset: nav-number;
    list-style: none;
    padding: 120px 0 120px 32px;
    margin: 0;
    width: 254px;
    visibility: hidden;
    transform: translateX(0);
    overflow-y: auto;
    transition: opacity 0.5s, visibility 0.5s ease, transform 0.5s;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5px);
    z-index: 1;

    @media (min-width: $tablet) {
      @include flex($justify: center);

      position: relative;
      visibility: visible;
      transform: none;
      overflow: visible;
      transition: none;
      width: 65%;
      padding: 0 48px;
      column-gap: 40px;
      right: auto;
      bottom: auto;
    }

    @media (min-width: $desktop) {
      column-gap: 48px;
    }

    @supports (not (backdrop-filter: blur(81.5px))) {
      background: center center no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
  
      @include pseudoElement(before, null, null) {
        @include position(absolute, -25px);
  
        background: inherit;
        box-shadow: inset 0 0 0 3000px rgba(49, 49, 49, 0.19);
        filter: blur(15px);
      }
    }

    &.open {
      transform: translateX(-254px);
      visibility: visible;

      @media (min-width: $tablet) {
        transform: translateX(0);
      }
    }

    li {
      position: relative;
      counter-increment: nav-number;
      margin-bottom: 16px;

      @media (min-width: $tablet) {
        margin-bottom: 0;
      }

      &:first-of-type {
        a::before {
          counter-set: nav-number;
        }
      }

      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        color: white;
        letter-spacing: 2.7px;
        white-space: nowrap;
        text-transform: uppercase;

        @media (min-width: $tablet) {
          display: inline-block;
          vertical-align: top;
          padding: 40px 0;
        }

        &::before {
          content: counters(nav-number, ".", decimal-leading-zero);
          font-weight: 700;
          margin-right: 10px;

          @media (min-width: $tablet) and (max-width: $desktop - 1) {
            display: none;
          }
        }

        @include pseudoElement(after, 4px, null) {
          @include position(absolute, 0 0 0 null);

          background-color: transparent;
          transition: background 0.3s ease;

          @media (min-width: $tablet) {
            top: auto;
            left: 0;
            width: auto;
            height: 3px;
          }
        }

        &:hover,
        &:focus {
          &::after {
            background-color: rgba(white, 0.5);
          }
        }

        &.active::after {
          background-color: white;
        }
      }
    }
  }
}